#cv-form{
    /* display: none; */
}

#cv-template{
    display: none;
}

                                        /* CV TEMPLATE */

.first-column{
    color: #afafaf;
    background-color: #163853;
}

.first-column img{
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 250px;
}

.first-column a{
    color: #afafaf;
}

.second-column h1{
    color: #4f4f4f;
}

.second-column h3{
    color: white;
}

@media print {
    .card-header {
        background-color: #163853 !important;
        -webkit-print-color-adjust: exact;
        color: white !important;
    }
    .second-column h3 {
        color: white !important;
    }
    body {
        -webkit-print-color-adjust: exact;
    }
}